 *{
margin: 0; padding: 0;
box-sizing: border-box;
font-family: 'Josefin Sans', sans-serif;
}

header{
	
 width: 100%;
 height: 120px;
 background-image: url('C:\myspace\lnct.jpg');
 background-repeat: no-repeat;
 background-size: 100% 100%;
 opacity: 0.4;                           
 
    } 
    
.mainheader
    {
 width: 100%;
 height: 60px;
 background-color:#E6E6FA;
 display:flex;
 justify-content: space-between;
 align-items: center;
  }

.mainheader .logo img {
 width: 50px; height: 30px;
 padding-left: 10px;
 
    }

.mainheader nav{
 width: 450px;
 display: flex;
 justify-content: space-around;
 align-items: center;
}

.mainheader nav a{
 text-decoration: none;
 color: black;
 text-transform: uppercase;
}

 
.mainheader nav a:hover {
 
  color: black;
  opacity:0.3;
}


 
    button:hover { 
        opacity: 0.3;                     
    } 
 


main{
 width: 100%;
 display: flex;
 
 align-items: center;
}


main .right-sec{
 padding-right: 70px;
 height: 40px;
 width: 40px;
}

main .left-sec{
 padding-left: 100px;
}

.left-sec h2{
 font-size: 20px;
 text-transform: capitalize;
 font-weight: lighter;
 color: #242424;
 margin-top: 100px;
}

.left-sec h1{
 font-size: 55px;
 text-transform: capitalize;
 font-weight: 700;
 margin: 15px 0;
}

.left-sec p{
 margin-bottom: 20px;
}

.left-sec button{
 padding: 15px 45px;
 text-align: center;
 font-size: 14px;
 color: #009a9a;
 border: none;
 background-image: linear-gradient(to right,#009a9a);
 border-radius: 10px;
} 

  
  
 
